@font-face {
    font-family: 'Avenir Next';
    src: url('./assets/fonts/Avenir Next/AvenirNextCyr-Regular.woff'),
            url('./assets/fonts/Avenir Next/AvenirNextCyr-Regular.woff2');
    font-display: swap;
}
body {
    margin: 0;
}